/* .smartSearchPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
} */
.search-box {
  display: flex;
  align-items: center;
  margin: 5px;
}

.search-input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-style: italic;
  margin: 5px;
}

.search-button {
  background-color: #173c63;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.historyBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  font-style: italic;
  font-size: larger;
  padding: 4px;
}
.responseBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  font-style: italic;
  font-size: larger;
  padding: 4px;
}
.placeHolderImg {
  margin: 5px;
  height: 500px;
  transform: translateX(30vw);
}

@media (max-width: 1200px) {
  /* Responsive styles for smaller screens */
  .placeHolderImg {
    height: 350px;
  }
}

@media (max-width: 768px) {
  /* Responsive styles for smaller screens */
  .search-box {
    flex-direction: column;
    align-items: stretch;
  }
  .search-input {
    font-size: 10px;
  }
  .placeHolderImg {
    transform: translateX(20vw);
  }
}

@media (max-width: 620px) {
  /* Responsive styles for smaller screens */
  .search-box {
    flex-direction: column;
    align-items: stretch;
  }
  .search-input {
    font-size: 10px;
  }
  .placeHolderImg {
    height: 250px;
    transform: translateX(10vw);
  }
}

@media (max-width: 300px) {
  /* Responsive styles for smaller screens */
  .search-box {
    flex-direction: column;
    align-items: stretch;
  }
  .search-input {
    font-size: 10px;
  }
  .placeHolderImg {
    height: 150px;
    transform: translateX(10vw);
  }
}
