.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1c4980;
  border-radius: 8px;
  margin: 5px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: start;
  width: 250px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-link {
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
  color: #2699fb;
  text-decoration: none;
  margin: 5px;
}

.nav-link:hover {
  color: #ff5722; /* Change color on hover */
}

.smart-search-button {
  background-color: #ff5722;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
}

.smart-search-button:hover {
  background-color: #ff7846; /* Change background color on hover */
}

@media (max-width: 768px) {
  /* Add responsive styles for smaller screens */
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    justify-content: center;
  }
}
