.historyCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 16px;
  margin: 16px;
}
.cardsList {
  display: flex;
  flex-wrap: wrap;
}
.querySentence{
  margin:0 16px;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 1.25px;
  color: #2c2d2e;
  font-weight: 600;
}

@media (max-width: 768px) {
  .querySentence{
    font-size: 14px;
    letter-spacing: 1px;
  }
  .historyCard {

  }
}