.historyCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 16px;
  margin: 16px;
}
.cardsList {
  display: flex;
  flex: wrap;
}

@media (max-width: 768px) {
  .historyCard {
  }
}